<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var endpoint = 'ws://'+window.location.host + window.location.pathname
    console.log(endpoint)
    var socket = new WebSocket(endpoint);
    socket.onmessage = function (e) {
        console.log("message",e)
    };
    socket.onopen = function (e) {
        console.log("open",e)
    };
    socket.onerror = function (e) {
        console.log("error",e)
    };
    socket.onclose = function (e) {
        console.log("close",e)
    };

</script>

</body>
</html>